server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: auth-route
          uri: http://auth-ms:8080
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: invoice-route
          uri: http://invoice-ms:8080
          predicates:
            - Path=/api/invoices/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info
